/* TODO - move to public */
#modal_close_span {
    background-image: url(../imgs/close.png);
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: -22px;
    right: -22px;
    float: right;
    outline: 0;
    cursor: pointer;
    z-index: 10;}

/**/
#config_update_button{
    border-color:#444; 
	border-width:1px; 
	border-style:solid;
	border-radius: 3px;
	background-color:#bbb;
	padding:2px}

#config_update_button:hover{
    background-color: #999
}
	
/**
 * General divs
 */

#modal_content_hidrograph_div_div {
  width:850px;
  height:460px;
  display:block;
}

#modal_hidrograph_ifisbased_div div.navigation_div{
  width:100%; 
  display:block; 
  padding-top:30px
}

#modal_hidrograph_ifisbased_div div.navigation_div div.span_div{
  float:right;
  padding-right:10px
}

#modal_content_hidrograph_div_slider{
  width:400px; 
  margin-left:40px
}

#modal_hidrograph_ifisbased_div div.panel_div{
  position:absolute;
  width:730px;
  display:block;
  margin-left:60px;
  bottom:0px;
  background-color:#ddd
}

#modal_hidrograph_ifisbased_div div.panel_div div.header{
  background-color:#bbb;
  padding-left:15px;
  cursor:pointer
}

#modal_content_hidrograph_modelsconf_div{
  display:none;
  padding-left:25px;
  padding-right:22px;
  height:400px;
}

#modal_content_hidrograph_modelsconf_div div.body{
  display:table-row; 
  height:362px
}

#modal_content_hidrograph_modelsconf_div div.body div.left{
  float:left; 
  text-align:left; 
  padding-top:5px;
}

#modal_content_hidrograph_modelsconf_div div.body div.right{
  float:left;
  text-align:left;
}

#modal_content_hidrograph_modelsconf_div div.footer{
  display:table-row;
  text-align:right;
  float:right;
  margin-bottom:22px;
  cursor:pointer;
  bottom:0px;
  right:15px;
}

/**
 * Makes the input-range stylesheet-less
 */

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}


/**
 * Set up the thumb
 */


/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 18px;
  width: 8px;
  border-radius: 3px;
  background: #aaaaff;
  cursor: pointer;
  margin-top: -7px;                                    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}


/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 18px;
  width: 8px;
  border-radius: 3px;
  background: #aaaaff;
  cursor: pointer;
}
*/

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 18px;
  width: 8px;
  border-radius: 3px;
  background: #aaaaff;
  cursor: pointer;
}

/**
 * Set up the track
 */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #cccccc;
  border-radius: 0px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #aaaaaa;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #cccccc;
  border-radius: 0px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-moz-range-track {
  background: #aaaaaa;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 10px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
  background: #aaaaaa;
}

input[type=range]::-ms-fill-upper {
  background: #aaaaaa;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
  background: #aaaaaa;
}
